@media only screen and (max-width:320px){
    header{
        width: 100%;
        text-align: center;

    }
     .headerNav{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
}

@media only screen and (max-width: 1024px){
    header{
        width: 100%;
        text-align: center;

    }
    header .headerNav{
        justify-content: center;
        text-align: center;
    }
    .newBookmarkFormArea{
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    #newBookmarkForm{
        margin: auto;
        justify-content: flex-start;
        width: 80%;
        display: flex;
        flex-direction: column;
        border: 3px solid darkgrey;
    }
    .formButtons{
        text-align: center;
        padding: 8px;
        justify-content: center;
    }
}

* {
    box-sizing: border-box;
    background-color: #eeeeee;
    border-radius: 3px;
}
main{
    color: #1c2833;
}
.newBookmarkForm{
    width: 80%;
    display: flex;
    flex-direction: column;
    border: 3px solid #1c2833;
    padding: 6px;
}
header h1{
    background: #1c2833;
    color: #eeeeee;
}
.errorContent{
    border: 3px solid #1c2833;
}
.condensed{
    margin: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 3px solid black;
}

.expanded{
    margin: 3px;
    display: flex;
    border: 3px solid black;
}
